<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All comments
    </h1>

    <a href="/comments/new" class="btn btn-block btn-outline-secondary">
      Add a new comment
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
      

        <th>
          Body
        </th>

        <th>
          Commentor
        </th>

        <th>
          Result
        </th>


        <th>
        </th>
      </tr>

      <% @comments.each do |comment| %>
      <tr>
        

        <td>
          <%= comment.body %>
        </td>

        <td>
          <%= comment.commentor_id %>
        </td>

        <td>
          <%= comment.result_id %>
        </td>


        <td>
          <a href="/comments/<%= comment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
